# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#vs private files
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.log
*.pdb
*.tlog